<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign up</title>
  <link rel="stylesheet" href="register.css">
</head>

<body>

  <div class="container">
    <form method="POST" class="signUp">
      <p class="signUp-text">Sign up</p>
      <div class="input-group">
        <input type="text" placeholder="Name" name="name" required />
      </div>
      <div class="input-group">
        <input type="text" placeholder="Surname" name="surname" required />
      </div>
      <div class="input-group">
        <input type="text" placeholder="Username" name="uname" required />
      </div>
      <div class="input-group">
        <input type="email" placeholder="Email" name="email" required />
      </div>
      <div class="input-group">
        <input type="date" placeholder="Date of birth" name="birthday" required />
      </div>
      <div class="input-group">
        <input type="text" placeholder="Country" name="country" required />
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" name="pw" required>
        <a class="login-form" href="/login">Log in</a>
      </div>
      <input class="button color" type="submit" value="Sign up" />
    </form>
  </div>
</body>

</html>