<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    
  </head>
    <body class="background">
      <section id='login'>
        <form action='register' method='post' style="border-color:#66bfbf">
        <div class="container logindiv">
            <h1 class="logintitle">Register</h1>
            <div class="inp">
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="uname" required>          
            </div>
            <div  class="inp">
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="pw" required>
            </div>
            <p class="textp">
                Already a member ?<a href="/login" class="to_register"> Go and log in </a>
               </p>
           <div class="loginbutton">
            <button class="singlebutton btn btn-primary " type="submit">Register</button>
           </div>
        </div>
    </form>
      </section>

  </body>
</html>