<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription</title>
    <link rel="stylesheet" href="subscription.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="banner">
                <div class="logo">
                    <a href="/main"><img class="coconut" src="/images/coconut.png" alt="logo"></a>
                </div>
                <nav class="navigation">
                    <a class="navigation__chapter" href="/my">My music</a>
                    <a class="navigation__chapter" href="/subscription">Subscription</a>
                    <a class="navigation__chapter" href="/add">Add song</a>
                    <a class="navigation__chapter" href="/profile">Profile</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1>Choose your subscription</h1>
            <div class="catalog">
                <% information.forEach(info=> { %>
                <div class="subscription">
                    <h2><%= info.type %> month</h2>
                    <p>$ <%= info.cost %></p>
                    <div class="button color">
                        <a href="/payment/<%= info.type %>">Buy</a>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </main>
</body>

</html>